<div class="container">
  <div class="page-header">
    <div class="header-title">
      <h1>Profile</h1>
    </div>
    <button
  type="button"
  class="nav-btn"
  routerLink="/notes">
  Back to Notes
</button>
  </div>

  <section class="page-card">
    <div class="detail-grid" *ngIf="!isLoading">
      <div class="detail-item">
        <span>User Name</span>
        <strong class="detail-value">{{ profile.userName }}</strong>
      </div>

      <div class="detail-item">
        <span>User Email</span>
        <strong class="detail-value">{{ profile.userEmail }}</strong>
      </div>

      <div class="detail-item">
        <span>User Id</span>
        <strong class="detail-value">{{ profile.userId }}</strong>
      </div>

      <div class="detail-item" *ngIf="profile.createdAt">
        <span>Created At</span>
        <strong class="detail-value">{{ profile.createdAt }}</strong>
      </div>

      <div class="detail-item" *ngIf="profile.updatedAt">
        <span>Updated At</span>
        <strong class="detail-value">{{ profile.updatedAt }}</strong>
      </div>
    </div>

    <p class="form-message" *ngIf="isLoading">Loading profile...</p>

    <p class="form-message" *ngIf="message">{{ message }}</p>
  </section>
</div>
